<div id="container">
  <h1><a href="//webrtc.github.io/samples/" title="WebRTC samples homepage">WebRTC samples</a>
    <span>Peer connection</span></h1>

  <p>This sample shows how to setup a connection between two peers using
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection">RTCPeerConnection</a>.
    An option to specify the <a href="https://webrtc.org/web-apis/chrome/unified-plan/">SDP semantics</a> for
    the connection is also available (unified-plan, plan-b or default).
  </p>

  <video id="localVideo" playsinline autoplay muted></video>
  <video id="remoteVideo" playsinline autoplay></video>
  <audio id="localAudio" controls autoplay></audio>
  <div class="box">
    <button id="startButton" (click)="start()">Start</button>
    <button id="callButton" (click)="call()">Call</button>
    <button id="hangupButton" (click)="hangup()">Hang Up</button>
  </div>

  <div class="box">
    <span>SDP Semantics:</span>
    <select id="sdpSemantics">
      <option selected value="">Default</option>
      <option value="unified-plan">Unified Plan</option>
      <option value="plan-b">Plan B</option>
    </select>
  </div>

  <p>View the console to see logging. The <code>MediaStream</code> object <code>localStream</code>, and the
    <code>RTCPeerConnection</code>
    objects <code>pc1</code> and <code>pc2</code> are in global scope, so you can inspect them in the console as
    well.</p>
</div>